@tailwind base;
@tailwind components;
@tailwind utilities;


.dashboard-layout {
  @apply w-[1200px] min-h-screen bg-gray-50 flex justify-center p-10;
}

.dashboard-container {
  @apply w-full  bg-white space-y-8 p-10 rounded-2xl shadow-lg;
}

.text-topic {
    @apply text-4xl font-bold text-[#004f5c];
}

.currency-input {
    @apply border rounded-lg px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-[#004f5c];
}

.apply-btn {
    @apply bg-[#004f5c] text-white px-4 py-2 rounded-lg text-sm hover:bg-[#004f5c]/80 transition-colors;
}

.statscard {
    @apply grid grid-cols-1 md:grid-cols-4 gap-6;
}

.statscard-container {
    @apply bg-white rounded-xl shadow-sm p-6 text-center border border-gray-100 hover:border-gray-200 hover:shadow-lg;
}
.statscard-label {
    @apply text-sm text-gray-700 mb-2 uppercase tracking-wide;
}

.statscard-value {
    @apply text-3xl font-bold text-slate-800;
}


.transaction-table {
    @apply overflow-x-auto rounded-xl shadow border border-gray-200 bg-white max-h-[600px] ;
}